/*雪碧图公共样式*/
.c-task {
  background: url(../images/c-task.png) no-repeat;
}
.icon-qq {
  height: 27px;
  width: 27px;
  background-position: 0 0;
}
.icon-kongjian {
  height: 28px;
  width: 28px;
  background-position: -27px 0;
}
.icon-wechat {
  height: 28px;
  width: 29px;
  background-position: -55px 0;
}
.icon-weibo {
  height: 27px;
  width: 29px;
  background-position: -84px 0;
}
.icon-3-weibo {
  height: 33px;
  width: 32px;
  background-position: -113px 0;
}
.icon-3-wechat {
  height: 33px;
  width: 32px;
  background-position: -145px 0;
}
.icon-3thumbtack {
  height: 49px;
  width: 40px;
  background-position: -177px 0;
}
.icon-nex {
  height: 88px;
  width: 48px;
  background-position: -217px 0;
}
.icon-pre {
  height: 88px;
  width: 50px;
  background-position: -265px 0;
}
.icon-3-conment {
  height: 33px;
  width: 58px;
  background-position: -315px 0;
}
.icon-phone {
  height: 42px;
  width: 58px;
  background-position: -373px 0;
}
.icon-onlinetalk {
  height: 44px;
  width: 61px;
  background-position: -431px 0;
}
i {
  display: inline-block;
  background: url("../images/c-task.png") no-repeat;
  background-size: 4.92rem 0.88rem;
}
html {
  font-size: 625%;
}
body {
  font-family: "Microsoft YaHei", sans-serif;
}
img {
  max-width: 100%;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: none;
}
/*section公共样式*/
.m-mnc {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  text-align: center;
  /*左右图标偏移部分*/
}
.m-mnc h2 {
  font-size: 0.4799rem;
}
.m-mnc .u-mnc_bd {
  position: relative;
}
.m-mnc .icon-pre_pos {
  position: absolute;
  top: 1rem;
  left: -0.6rem;
}
.m-mnc .icon-nex_pos {
  position: absolute;
  top: 1rem;
  right: -0.6rem;
}
/*为左右点击图标设置媒体查询*/
@media (max-width: 996px) {
  .icon-pre_pos {
    position: absolute!important;
    top: 3rem!important;
    left: -0.6rem !important;
  }
  /*左右图标偏移部分*/
  .icon-nex_pos {
    position: absolute!important;
    top: 3rem!important;
    right: -0.6rem !important;
  }
}
@media (max-width: 768px) and (max-width: 996px) {
  .icon-pre_pos {
    display: none!important;
  }
  .icon-nex_pos {
    display: none!important;
  }
}
/*选择部分样式*/
.u-mnc_select {
  margin-top: 0.2rem;
}
.u-mnc_select p {
  display: block;
  line-height: 0.45rem;
  background: url("../images/icon-circleborder.png") no-repeat center;
  font-size: 0.24rem;
  color: #939393;
}
.u-mnc_select p:hover {
  background: url("../images/icon-circleborder2.png") no-repeat center;
  color: white;
}
/*给每个栅格里的元素增加margintop*/
.f-maintop {
  margin-top: 0.5rem;
}
