.m-courselist {
  margin-top: 0.35rem;
  font-size: 0.1866rem;
  color: #858585;
  a {
    color: #858585;
  }
  .u-courselist_select {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    li {
      float: left;
      line-height: 0.5rem;
      width: 1.3rem;
      text-align: left;
    }
    .u-courselist_selectinput {
      width: 6.5rem;
    }
    .u-courselist_selectHd {
      margin-right: 0.4rem;
      width: 2rem;
      background-color: #f5f5f5;
      text-align: center;
    }
  }
  input{
    display: inline-block;
    width: 6.25rem;
    height: 0.35rem;
  }
  button {
    display: inline-block;
    width: 0.75rem;
    border: 1px solid #ca0000;
    line-height: 0.35rem;
    background-color: white;
  }
}