/*课程视频部分私有样式*/
.u-mnc_course {
  padding: 0 .6rem;
}
.u-mnc_course h3 {
  font-size: 0.1466rem;
}
.u-mnc_course p {
  color: #ed0b20;
}
/*全国名校部分私有样式*/
.u-mnc_school {
  margin-top: 0!important;
}
.u-mnc_school p {
  margin-top: 0.4rem;
  font-size: 0.26rem;
  color: #868686;
}
.u-mnc_school .f-marginT60 {
  margin-top: 0.6rem;
}
.u-mnc_school .u-mnc_schoolMore {
  margin-top: 1rem;
}
/*教学优势部分私有样式*/
.u-teachadv {
  padding-top: 0.9rem;
  padding-bottom: 0.6rem;
  background: url("../images/icon-banner2.png") no-repeat;
  background-size: cover;
}
.u-teachadv h2,
.u-teachadv p {
  color: white;
}
.u-teachadv .u-teachadv_btn {
  margin-top: 0.45rem;
}
.u-teachadv .u-teachadv_hdp {
  margin-top: 0.12rem;
}
.u-teachadv .u-teachadv_bdp {
  margin: 0.2rem 0;
}
/*精选公开课部分私有样式*/
.u-teacherclass {
  margin-bottom: 0.05rem!important;
}
.u-teacherclass .u-teacherclass_wrap {
  margin-top: 0.5rem;
  padding-bottom: 0.25rem;
  border: 0.02rem solid #f9f9f9;
}
.u-teacherclass .u-teacherclass_wrap img {
  display: block;
  margin: 0 auto;
}
.u-teacherclass .u-teachadv_teachername {
  margin-top: 0.15rem;
}
.u-teacherclass .u-teachadv_teacherclass {
  margin: 0.25rem 0;
}
.u-teacherclass .u-teachadv_teacherdescribe {
  margin: 0.1rem auto!important;
}
/* 更多按钮私有样式 */
.teacherclass_btn {
  width: 2rem;
  margin-top: .4rem;
  color: #e96969;
}
/*  新闻列表 */
.m-news {
  background: #fef9f3;
  /* 标题前面的小线条 */
}
.m-news h3 {
  margin: .2rem .6rem;
  padding-bottom: .1rem;
  font-size: 20px;
  color: #ca0000;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
}
.m-news .icon-line_studentshow {
  display: inline-block;
  width: .06rem;
  height: .18rem;
  margin-top: -3px;
  margin-right: .13rem;
  background: #ca0000;
  vertical-align: middle;
}
.m-news-right h3 {
  margin-right: 0;
}
.m-news-right .news-list {
  padding-left: .6rem;
  border-left: 1px dashed #ec424f;
}
.m-news-left h3 {
  margin-left: 0;
}
.m-news-left .news-list {
  padding-right: .6rem;
}
.m-news-left .news-list li:first-child {
  margin-bottom: .2rem;
}
.news-list li {
  font-size: 16px;
  margin-top: .1rem;
}
.news-list li a {
  color: #312e2e;
}
.news-list li strong {
  display: inline-block;
  width: 75%;
  font-weight: 400;
  overflow: hidden;
}
.news-list li span {
  float: right;
}
.news-list li:last-child {
  margin: .5rem 0 .65rem;
  text-align: center;
}
.news-list .news-list_btn {
  width: 1.9rem;
  color: #e20606;
}
/* 学员展示列表 */
.m-studentshow {
  position: relative;
  padding: 0 .48rem;
}
.m-studentshow .u-mnc_hd {
  margin-bottom: .2rem;
}
.studentshow-img {
  position: relative;
  float: left;
  width: 27%;
  margin: 0 .15rem 0 .1rem;
}
.studentshow-img img:nth-child(1),
.studentshow-img img:nth-child(3) {
  float: right;
}
.studentshow-img .icon-line_studentshow {
  display: inline-block;
  position: absolute;
  left: 104px;
  top: 228px;
  width: 1px;
  height: 40px;
  background: #e60012;
  transform-origin: 0 0;
  transform: rotateZ(32deg);
}
.studentshow-img .icon-line_studentshow:nth-child(5) {
  left: 167px;
  top: 480px;
  transform: rotateZ(145deg);
}
.studentshow-list {
  margin-left: 30%;
  margin-right: .15rem;
  padding-top: .6rem;
}
.studentshow-list li {
  margin-bottom: 1rem;
  padding: .2rem .15rem;
  background: #ffecdb;
  border: 1px dashed #e60000;
  border-radius: .15rem;
}
.studentshow-list h3 {
  font-size: 16px;
  font-weight: bold;
}
.studentshow-list p {
  font-size: 14px;
}
.icon-pre_studentshow,
.icon-nex_studentshow {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: .48rem;
  background: url(../images/icon-pre.png) no-repeat;
  background-size: contain;
}
.icon-nex_studentshow {
  left: auto;
  right: 0;
  background: url(../images/icon-nex.png) no-repeat;
  background-size: contain;
}
/* 报名列表 */
.m-signup .u-mnc_hd {
  padding: .3rem 0;
  color: #fff;
  background: url(../images/icon-banner4.png) no-repeat;
  background-size: cover;
}
.m-signup-wrap {
  padding: 1rem 0 1.1rem;
}
/* 报名信息 */
.m-signup-tips h3 {
  margin: 0 0 .25rem;
  font-size: 28px;
}
.signup-tips li {
  font-size: 14px;
  margin-bottom: .25rem;
}
.signup-tips li:nth-child(4) {
  margin-bottom: .6rem;
}
/* 报名表单 */
.m-signup-from {
  font-size: 14px;
}
.m-signup-from label {
  width: 4.55rem;
  margin-bottom: .3rem;
  font-weight: 400;
}
.m-signup-from input,
.m-signup-from select {
  height: 35px;
}
.m-signup-from strong {
  display: inline-block;
  width: .6rem;
  font-weight: 400;
}
.m-signup-from b {
  color: #f54f4f;
}
.m-signup-from .name input {
  width: 3.64rem;
}
.m-signup-from .phone select {
  width: 1.2rem;
}
.m-signup-from .phone input {
  width: 2.4rem;
}
.m-signup-from .address select {
  width: 1.15rem;
}
.m-signup-from .testcode input {
  width: 1rem;
}
.m-signup-from .testcode .icon-testcode {
  display: inline-block;
  width: .65rem;
  height: .23rem;
  background: #000;
  vertical-align: middle;
}
.m-signup-from .btn {
  width: 1.75rem;
  height: .4rem;
  background: #f54f4f;
  margin-left: .63rem;
  color: #fff;
}
@media (min-width: 315px) and (max-width: 480px) {
  /* 新闻列表 */
  .m-news {
    padding: 0;
  }
  .m-news .m-news-wrap {
    margin: 0;
  }
  .m-news h3 {
    margin: .2rem 0;
  }
  .m-news .news-list {
    padding: 0 .05rem;
    border: 0;
  }
  .m-news .news-list span {
    font-size: 12px;
    padding: 1.5px 0;
  }
  /* 学员展示列表 */
  .m-studentshow {
    padding: 0;
  }
  .studentshow-img {
    display: none;
  }
  .studentshow-list {
    margin: auto .1rem;
    padding-top: 0;
  }
  .studentshow-list li {
    margin-bottom: .1rem;
    padding: .05rem .05rem;
  }
  .icon-pre_studentshow,
  .icon-nex_studentshow {
    width: .2rem;
    display: none;
  }
  .m-studentshow:hover .icon-pre_studentshow,
  .m-studentshow:hover .icon-nex_studentshow {
    display: block;
  }
  /* 报名列表 */
  .m-signup-wrap {
    padding: .1rem .05rem;
  }
  /* 报名信息 */
  .m-signup-tips h3 {
    margin: 0 0 .15rem;
  }
  .signup-tips li {
    margin-bottom: .15rem;
  }
  .signup-tips li:nth-child(4) {
    margin-bottom: .15rem;
  }
  /* 报名表单 */
  .m-signup-from label {
    width: 100%;
    margin-bottom: .1rem;
  }
  .m-signup-from strong {
    width: auto;
    display: block;
  }
  .m-signup-from select,
  .m-signup-from input,
  .m-signup-from .name input,
  .m-signup-from .phone input,
  .m-signup-from .phone select {
    width: auto;
  }
  .m-signup-from .address select {
    width: 30%;
  }
  .m-signup-from .btn {
    margin-left: 0;
  }
}
@media (min-width: 480px) and (max-width: 993px) {
  /* 新闻列表 */
  .m-news {
    padding: .1rem;
  }
  .m-news h3 {
    margin: .2rem 0;
  }
  .m-news .news-list {
    padding: 0;
    border: 0;
  }
  .m-news .news-list img {
    width: 100%;
  }
  /* 学员展示列表 */
  .m-studentshow {
    position: relative;
    padding: 0;
  }
  .studentshow-img {
    display: none;
  }
  .studentshow-list {
    margin: auto .2rem;
    padding-top: 0;
  }
  .studentshow-list li {
    margin-bottom: .2rem;
    padding: .1rem .1rem;
  }
  .icon-pre_studentshow,
  .icon-nex_studentshow {
    width: .3rem;
    display: none;
  }
  .m-studentshow:hover .icon-pre_studentshow,
  .m-studentshow:hover .icon-nex_studentshow {
    display: block;
  }
  .m-signup-wrap {
    padding: .1rem 0.05rem;
  }
}
@media (min-width: 993px) and (max-width: 1300px) {
  /* 学员展示信息 */
  .studentshow-img img + img {
    margin-top: 25px;
  }
  .studentshow-img .icon-line_studentshow {
    top: 230px;
  }
  .studentshow-img .icon-line_studentshow:nth-child(5) {
    left: 158px;
    top: 486px;
  }
}
